<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forget Password</title>
  </head>

  <body>
    <div style="margin: 20px">
      <div
        style="
          border: 0.5px solid #eeeeee;
          border-radius: 25px;
          text-align: center;
          padding: 20px 0;
        "
      >
        <h1
          style="
            margin: 30px 0;
            color: #052346;
            font-size: 24px;
            font-weight: bold;
          "
          class="my-5"
        >
          You request to change password has been received
        </h1>
        <p style="margin-top: 0">Hi,</p>
        <p style="margin-top: 0">We have generated a new password for you.</p>
        <table style="margin: 50px auto; text-align: left" ;>
          <tr>
            <th
              style="color: #052346; border: 1px solid #dddddd; padding: 10px"
            >
              Message
            </th>
            <td style="border: 1px solid #dddddd; padding: 10px">
              <%= message %>
            </td>
          </tr>
          <tr>
            <th
              style="color: #052346; border: 1px solid #dddddd; padding: 10px"
            >
              Email
            </th>
            <td style="border: 1px solid #dddddd; padding: 10px">
              <%= email %>
            </td>
          </tr>
          <tr>
            <th
              style="color: #052346; border: 1px solid #dddddd; padding: 10px"
            >
              Password
            </th>
            <td style="border: 1px solid #dddddd; padding: 10px">
              <%= password %>
            </td>
          </tr>
        </table>

        <p style="margin-top: 0">
          Please change your password after you log in using this password.
        </p>
        <hr style="margin: 60px; margin-bottom: 30px" />
        <p style="font-size: 12px">Copyright &copy; 2022 - Qantara</p>
      </div>
    </div>
  </body>
</html>
